*{
   margin:0%;
   padding:0%;
   Box-sizing: border-box;
}

html,body{
   height: 100%;
   width: 100%;
   background-color:black;
   color: white;
}

#main{
   display: flex;
   justify-content: center;
   width: 80%;
   margin: auto;
   gap: 30px;
   flex-wrap: wrap;
}

.user{
   width: 200px;
   text-align: center;
   padding: 10px;
   border: 2px solid white;
   border-radius: 5px;
   transition: transform 0.3s ease;
}

.user:hover{
   transform: scale(1.2);
}
img{
   width: 100%;
   height: 200px;
   object-fit: cover;
}
h2{
   font-size: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}
a{
   text-decoration: none;
   color: orange;
}